body {
  background: #eee;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  padding: 12px;
  margin: 16px auto;
  font-size: 28px;
}

.card {
  width: 700px;
  background: #fff;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  display:block;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  width: 10em;
  display:block;
}